/amf/build-local/
/ausf/build-local/
/amf/build/
/ausf/build/
/cpr/build/
/cpr/cmake-build-*/

*.zip
*.o
*.d
*.so
*.a
*.out
*.log
*.csv

**/__pycache__/
*.pyc

/Lee-P3chainforOai-main/dper/client/auto*/**/log/
/Lee-P3chainforOai-main/dper/client/auto*/**/accounts/
/Lee-P3chainforOai-main/dper/client/auto*/**/booterKeyStore/

config.local.yaml
*.local.yaml

.vscode/settings.json
